################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.idea/libraries
/.idea/modules
/.idea
/.vs
/Data
/Models/model_9_DM
/Models/model_8_DM
/Models/model_7_DM
/Models/model_6_DM
/Models/model_5_DM
/Models/model_4_LR
/Models/model_4_DM
/Models/model_3_DM
/Models/model_2_DM
/Models/model_1_DM
/project
/target
